<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <title>Viban</title>
    <%= if Application.get_env(:viban, :env) == :dev do %>
      <script type="module" src="http://localhost:5173/@vite/client">
      </script>
      <script type="module" src="http://localhost:5173/js/app.ts">
      </script>
    <% else %>
      <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
      <script defer phx-track-static type="module" src={~p"/assets/app.js"}>
      </script>
    <% end %>
  </head>
  <body class="h-full bg-gray-950">
    {@inner_content}
  </body>
</html>
